*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    gap: 50px;
}

.header{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.computer{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 40px;
}
.computer-buttons{
    display: flex;
    justify-content: center;
    gap: 35px;
}

#comp-score-div{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 20px;
}

#result{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 24px;
}

.human{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 40px;
}

.human-buttons{
    display: flex;
    justify-content: center;
    gap: 35px;
}

#human-score-div{
    padding-left: 10px;
    font-size: 20px;
    padding-bottom: 10px;
}


#rock,#papers,#scissors{
    border: none;
    border-radius: 16px;
    width: 221px;
    height: 102px;
    background-color: #D9D9D9;
    filter: drop-shadow(0px 4px 4px #C4C4C4);
    font-size: 24px;
}

#scissors:hover{background-color: #cccccc;}
#rock:hover{background-color: #cccccc;}
#papers:hover{background-color: #cccccc;}

#scissors:active{
    background-color: #cccccc;
    box-shadow: inset 3px 6px 3px 0 rgba(0, 0, 0, 0.2);
}
#rock:active{
    background-color: #cccccc;
    box-shadow: inset 3px 6px 3px 0 rgba(0, 0, 0, 0.2);
}
#papers:active{
    background-color: #cccccc;
    box-shadow: inset 3px 6px 3px 0 rgba(0, 0, 0, 0.2);
}

.active{
    box-shadow: inset 3px 6px 3px 0 rgba(0, 0, 0, 0.2);
}

#comp-rock, #comp-papers, #comp-scissors{
    border: none;
    border-radius: 16px;
    width: 221px;
    height: 102px;
    background-color: #c0c0c0;
    filter: drop-shadow(0px 4px 4px #C4C4C4);
    font-size: 24px;
}

    